.btn{
	-fx-background-color: #333333;
	-fx-background-radius: 10.0; 
}

.btnsize {
	
	-fx-pref-height: 26.0px;
	-fx-pref-width: 141.0px;
}

#Screen {
	
	-fx-background-image: url(../image/background_sunrise.jpg);
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 100.0% 100.0% ;
}

.imputpanel {
	 -fx-background-color: rgba(245.0,244.0,225.0,0.5);
	 -fx-background-radius: 10.0;
	 /* -fx-opacity: 42%; */
	
}

.textfild {
	
	-fx-prompt-text-fill: #333;
	-fx-text-fill: #333333;
	-fx-border-width : 0.0 0.0 1.0 0.0;
	-fx-background-color: transparent;
	-fx-border-color: #333333;
	-fx-font-size: 14.0;
	
}

.textfillwhite {
	-fx-prompt-text-fill: #fff;
	-fx-text-fill: #fff;
}

.error{
	-fx-border-color: red;
}

.textfild:editable .arrow-button {
	-fx-background-color: #333333; 
}

.textfild:editable .arrow-button .arrow {
	-fx-text-fill: #fff;
}

.textfild:editable .date-picker-display-node {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: #333;
	-fx-text-fill: #333;
}

.scroll-pane, .viewport{
	-fx-background-color: transparent;
	-fx-pref-width: 100.0%;	
}
/*===============Cartoes de atividade================*/
.activityCard {
	-fx-background-radius: 15.0; 
	-fx-border-radius: 15.0;
	-fx-border-color:#e59311; 
	-fx-border-width:2.0px; 
}

.activityCard:hover {
	-fx-cursor: HAND;
	-fx-background-color: #ecf0f1;
}
.activityCard:hover>*.label {
	-fx-text-fill:#000000;
}
.homeRootPane>*.title { /* FX theme stylesheet */
	-fx-background-color:  #e5d694;
}

.activityList>*.title { /* FX theme stylesheet */
	-fx-background-color:  #e59311;
}
.activityList .title .text{
	-fx-fill: #fff;
}
.activityDetails>*.title { /* FX theme stylesheet */
	-fx-background-color:   #bdc3c7;
}
.btnWindows{
	-fx-background-color:transparent;
} 

.btnWindows:hover{
	-fx-background-color:#f39c12;
	-fx-cursor: HAND;
}

.btnWindows:selected{
	-fx-background-color:#f39c12;
}

.titled-pane>*.content>VBox { /* FX theme stylesheet */
	-fx-padding: 0;
}