.btn{
	-fx-background-color: #333333;
	-fx-background-radius: 10.0; 
}

.btnsize {
	
	-fx-pref-height: 26.0px;
	-fx-pref-width: 141.0px;
}

#Screen {
	
	-fx-background-image: url(../image/background_sunrise.jpg);
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 100.0% 100.0% ;
	
}

.imputpanel {
	 -fx-background-color: rgba(245.0,244.0,225.0,0.5);
	 -fx-background-radius: 10.0;
	 /* -fx-opacity: 42%; */
	
}

.textfild {
	
	-fx-prompt-text-fill: #333;
	-fx-text-fill: #333333;
	-fx-border-width : 0.0 0.0 1.0 0.0;
	-fx-background-color: transparent;
	-fx-border-color: #333333;
	-fx-font-size: 14.0;
	
}
*:disabled { /* FX theme stylesheet */
-fx-opacity: 1.0;
}
.textfillwhite {
	-fx-prompt-text-fill: #fff;
	-fx-text-fill: #fff;
}

.error{
	-fx-border-color: red;
}

.textfild:editable .arrow-button {
	-fx-background-color: #333333; 
}

.textfild:editable .arrow-button .arrow {
	-fx-text-fill: #fff;
}

.textfild:editable .date-picker-display-node {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: #333;
	-fx-text-fill: #333;
}

.scroll-pane, .viewport{
	-fx-background-color: transparent;
	-fx-pref-width: 100.0%;	
}
/*===============Cartoes de atividade================*/
.activityCard>*>.label, .activityCard>*.label {
	-fx-text-fill:#FFF;
}
.activityCard {
	-fx-background-radius: 15.0; 
	-fx-border-radius: 15.0;
	-fx-border-color:#e59311; 
	-fx-border-width:2.0px; 
}
.activityCardSelected {
	-fx-cursor: HAND;
	-fx-background-color: #ecf0f1;
}
.activityCardSelected>*>.label, .activityCardSelected>*.label {
	-fx-text-fill:#000000;
}
.activityCard>*.button {
	visibility:hidden;
}

.activityCard:hover {
	-fx-cursor: HAND;
	-fx-background-color: #ecf0f1;
}

.activityCard:hover>*.button {
	visibility:visible;
}

.activityCard:hover>*>.label,.activityCard:hover>*.label  {
	-fx-text-fill:#000000;
}


/*===============Fim Cartoes de atividade================*/
.progress-indicator:determinate .determinate-indicator .tick{ 
  -fx-region-background:none;   
   
} 
.homeRootPane>*.title {
	-fx-background-color:  #e5d694;
}

.activityList>*.title {
	-fx-background-color:  #e59311;
}
.activityList .title .text{
	-fx-fill: #fff;
}
.activityDetails>*.title {
	-fx-background-color:   #bdc3c7;
}
.btnWindows{
	-fx-background-color:transparent;
} 
.btnWindows:hover{
	-fx-background-color:#f39c12;
	-fx-cursor: HAND;
}
.btnWindows:hover *{
	-fx-text-fill:white;
	
}
.btnWindows:hover *>.dark{
	-fx-border-color:white;
	
}
.btnWindows:selected{
	-fx-background-color:#f39c12;
}
.btnWindows:selected *{
	-fx-text-fill:white;
	
}
.btnWindows:selected *>.dark{
	-fx-border-color:white;
	
}

.titled-pane>*.content>VBox {
	-fx-padding: 0.0;
}

.error-color{
	-fx-text-fill: red;
}

.hide{
	visibility: hidden;	
}

.show{
	visibility: visible;
}

.btnTransparent{
	-fx-background-color:transparent;
}

.spinner .decrement-arrow-button{
	-fx-background-color:white;
}
.spinner .increment-arrow-button{
	-fx-background-color:white;
}
.spinner .text-field:readonly{
	-fx-background-color:white;
}
.split-arrows-vertical .text-field:readonly{
	-fx-alignment:center; 
}



ComboBox{
	-fx-background-color:white;
}




/*Icons*/
.light{
    -fx-background-color:white;
}

.dark{
    -fx-border-color:black;
}
.IconActivities{
	-fx-shape:"M 38.62,89.50
           C 37.50,90.88 37.38,92.00 38.38,93.50
             39.50,95.38 42.75,95.62 62.25,96.00
             81.50,96.25 85.00,96.00 86.75,94.38
             88.25,92.75 88.38,91.75 87.50,89.88
             86.25,87.62 84.62,87.50 63.25,87.50
             43.88,87.50 40.00,87.75 38.62,89.50 Z
           M 38.62,77.00
           C 37.50,78.38 37.38,79.50 38.38,81.00
             39.50,82.88 42.75,83.12 62.88,83.50
             84.88,83.75 86.25,83.62 87.50,81.38
             88.38,79.50 88.25,78.50 86.75,77.00
             83.88,74.00 41.12,74.00 38.62,77.00 Z
           M 38.88,64.25
           C 37.75,65.62 37.62,66.75 38.75,68.75
             40.12,71.25 40.88,71.25 63.38,71.00
             83.50,70.62 86.75,70.38 87.88,68.50
             88.88,67.00 88.75,65.88 87.63,64.50
             85.25,61.62 41.12,61.50 38.88,64.25 Z
           M 27.62,29.50
           C 27.62,29.50 23.75,32.75 23.75,32.75
             23.75,32.75 23.75,69.12 23.75,69.12
             23.88,95.88 24.25,106.12 25.38,107.62
             28.75,112.12 31.88,112.50 63.63,112.50
             63.63,112.50 94.75,112.50 94.75,112.50
             94.75,112.50 98.62,109.25 98.62,109.25
             98.62,109.25 102.50,106.00 102.50,106.00
             102.50,106.00 102.50,69.50 102.50,69.50
             102.50,69.50 102.50,32.88 102.50,32.88
             102.50,32.88 99.25,29.87 99.25,29.87
             96.50,27.37 94.50,26.88 86.12,26.37
             86.12,26.37 76.25,26.00 76.25,26.00
             76.25,26.00 76.25,31.12 76.25,31.12
             76.25,31.12 76.25,36.25 76.25,36.25
             76.25,36.25 63.12,36.25 63.12,36.25
             63.12,36.25 50.00,36.25 50.00,36.25
             50.00,36.25 50.00,31.25 50.00,31.25
             50.00,31.25 50.00,26.25 50.00,26.25
             50.00,26.25 40.75,26.25 40.75,26.25
             32.50,26.25 31.00,26.62 27.62,29.50 Z
           M 41.25,37.25
           C 41.25,38.50 42.12,40.75 43.25,42.25
             45.00,44.87 46.00,45.00 63.12,45.00
             80.25,45.00 81.25,44.87 83.00,42.25
             84.12,40.75 85.00,38.38 85.00,37.12
             85.00,35.25 85.75,34.87 89.12,35.25
             89.12,35.25 93.12,35.62 93.12,35.62
             93.12,35.62 93.50,69.62 93.50,69.62
             93.50,69.62 93.75,103.75 93.75,103.75
             93.75,103.75 63.50,103.75 63.50,103.75
             63.50,103.75 33.12,103.75 33.12,103.75
             33.12,103.75 33.50,69.38 33.50,69.38
             33.50,69.38 33.88,35.00 33.88,35.00
             33.88,35.00 37.50,35.00 37.50,35.00
             40.25,35.00 41.25,35.62 41.25,37.25 Z
           M 52.75,3.25
           C 49.25,5.00 46.50,6.88 46.63,7.25
             46.75,7.75 45.62,9.75 44.25,11.62
             41.75,14.75 40.88,15.00 32.12,15.00
             20.88,15.00 17.88,16.12 14.12,21.88
             11.38,26.00 11.38,26.75 11.38,69.25
             11.38,107.50 11.50,112.88 13.38,116.12
             17.75,123.62 18.25,123.75 63.50,123.75
             103.88,123.75 104.75,123.75 108.12,121.00
             114.75,115.75 115.13,113.62 115.00,67.50
             115.00,67.50 114.88,25.00 114.88,25.00
             114.88,25.00 110.13,20.00 110.13,20.00
             110.13,20.00 105.38,15.00 105.38,15.00
             105.38,15.00 94.88,15.00 94.88,15.00
             85.38,15.00 84.12,14.75 82.50,12.12
             81.50,10.62 80.88,8.87 81.00,8.37
             81.12,7.75 80.75,7.62 80.13,8.00
             79.50,8.37 78.62,7.87 78.25,6.88
             77.25,4.25 67.88,0.00 63.00,0.00
             61.00,0.00 56.38,1.50 52.75,3.25 Z
           M 72.38,14.38
           C 74.50,16.88 76.25,20.00 76.25,21.25
             76.25,23.62 77.12,23.75 89.12,23.75
             97.50,23.75 102.50,24.25 103.50,25.25
             104.62,26.37 105.00,38.00 105.00,70.12
             105.00,108.50 104.75,113.62 103.00,114.25
             100.50,115.25 25.75,115.25 23.25,114.25
             21.50,113.62 21.25,108.50 21.25,70.12
             21.25,38.00 21.62,26.37 22.75,25.25
             23.75,24.25 28.63,23.75 36.62,23.75
             36.62,23.75 48.88,23.75 48.88,23.75
             48.88,23.75 50.62,19.38 50.62,19.38
             53.50,12.75 57.12,10.00 63.25,10.00
             67.62,10.00 69.12,10.62 72.38,14.38 Z";
}
.IconProject{
    -fx-shape:"M 650.62,895.75
           C 639.12,899.38 630.75,906.75 625.88,917.62
             622.25,925.62 622.25,939.88 625.88,947.87
             629.38,955.75 636.75,963.50 644.25,967.50
             644.25,967.50 650.62,970.88 650.62,970.88
             650.62,970.88 821.50,971.25 821.50,971.25
             990.25,971.50 992.38,971.50 999.13,969.00
             1008.38,965.50 1015.38,959.12 1019.88,950.00
             1023.25,943.50 1023.75,941.00 1023.75,932.75
             1023.75,924.50 1023.25,922.00 1020.00,915.50
             1015.62,907.00 1009.75,901.12 1001.38,897.25
             995.62,894.62 995.62,894.62 825.62,894.38
             691.00,894.25 654.62,894.50 650.62,895.75 Z
           M 653.00,758.88
           C 641.25,761.75 631.75,769.62 626.00,781.38
             623.75,785.88 623.12,789.25 623.12,797.12
             623.25,806.12 623.62,807.87 627.38,815.00
             632.12,823.75 636.00,827.50 645.50,832.50
             645.50,832.50 651.88,835.88 651.88,835.88
             651.88,835.88 823.12,835.88 823.12,835.88
             823.12,835.88 994.38,835.88 994.38,835.88
             994.38,835.88 1001.00,832.87 1001.00,832.87
             1009.25,829.12 1019.00,818.75 1021.75,810.75
             1024.62,802.38 1024.38,788.50 1021.25,781.62
             1017.00,772.38 1011.75,766.88 1002.75,762.50
             1002.75,762.50 994.38,758.38 994.38,758.38
             994.38,758.38 825.62,758.12 825.62,758.12
             732.88,758.12 655.12,758.38 653.00,758.88 Z
           M 784.38,254.75
           C 770.88,256.75 747.63,262.37 737.50,266.12
             666.62,292.62 615.88,351.25 599.75,425.62
             596.00,443.12 595.62,486.75 599.25,505.88
             613.62,583.00 668.38,646.00 742.50,670.62
             768.38,679.25 779.38,680.88 811.88,680.75
             835.13,680.75 841.25,680.38 851.25,678.12
             899.75,667.25 940.38,643.75 970.75,609.00
             995.50,580.62 1012.00,547.50 1020.25,509.87
             1022.75,498.62 1023.12,493.62 1023.00,467.75
             1023.00,442.12 1022.63,436.75 1020.25,425.62
             1012.12,388.62 995.62,355.12 971.25,326.87
             942.12,292.87 894.88,265.75 849.38,257.00
             839.75,255.12 793.00,253.50 784.38,254.75 Z
           M 841.25,335.12
           C 861.75,340.50 874.12,346.25 889.75,357.37
             930.75,386.50 952.88,440.12 944.38,489.75
             934.88,545.00 895.38,586.88 840.13,600.50
             827.12,603.75 796.62,604.38 784.38,601.62
             730.50,589.62 691.75,552.75 677.88,500.50
             675.12,490.00 674.62,485.62 674.62,468.38
             674.50,451.62 674.88,446.50 677.25,437.37
             683.75,411.50 693.75,393.12 711.75,374.37
             733.62,351.50 756.12,339.25 787.75,333.25
             800.62,330.88 828.88,331.75 841.25,335.12 Z
           M 270.62,29.00
           C 237.38,32.38 207.88,47.00 183.75,72.25
             168.62,88.12 159.25,103.62 152.50,124.00
             146.38,141.87 145.00,155.25 145.00,194.25
             145.00,194.25 145.00,229.00 145.00,229.00
             145.00,229.00 130.38,229.00 130.38,229.00
             105.50,229.12 93.75,231.50 75.88,240.37
             50.50,252.87 30.75,277.00 23.00,305.25
             19.75,316.75 19.75,345.12 23.00,356.50
             34.25,396.12 66.50,425.12 106.25,431.50
             110.75,432.12 121.25,432.75 129.75,432.75
             129.75,432.75 145.00,432.75 145.00,432.75
             145.00,432.75 145.00,443.88 145.00,443.88
             145.00,443.88 145.00,455.00 145.00,455.00
             145.00,455.00 124.13,455.50 124.13,455.50
             104.88,456.00 102.12,456.38 91.25,460.00
             18.12,484.12 -4.00,574.87 50.12,628.88
             70.38,649.25 91.12,657.37 125.38,658.62
             125.38,658.62 145.00,659.38 145.00,659.38
             145.00,659.38 145.00,670.25 145.00,670.25
             145.00,670.25 145.00,681.12 145.00,681.12
             145.00,681.12 123.50,681.88 123.50,681.88
             106.00,682.37 100.12,683.00 93.12,685.25
             65.50,694.00 43.12,712.87 30.62,738.38
             23.62,752.38 21.25,761.25 20.38,776.75
             18.50,807.75 29.38,835.00 52.25,856.62
             73.12,876.38 92.12,883.75 125.38,884.88
             125.38,884.88 145.00,885.62 145.00,885.62
             145.00,885.62 145.00,896.62 145.00,896.62
             145.00,896.62 145.00,907.75 145.00,907.75
             145.00,907.75 126.63,907.75 126.63,907.75
             106.25,907.75 94.12,909.88 80.62,915.88
             50.62,929.25 27.75,958.12 21.62,990.75
             19.38,1002.75 20.00,1023.00 23.00,1034.62
             24.12,1038.75 27.88,1048.00 31.38,1055.25
             37.00,1066.50 39.38,1069.75 49.25,1079.75
             71.62,1102.12 95.75,1111.50 132.00,1111.50
             132.00,1111.50 144.75,1111.50 144.75,1111.50
             144.75,1111.50 145.38,1151.25 145.38,1151.25
             146.00,1192.62 146.63,1198.00 152.62,1216.50
             167.00,1260.00 203.62,1294.50 249.50,1307.38
             249.50,1307.38 261.88,1310.88 261.88,1310.88
             261.88,1310.88 668.75,1311.25 668.75,1311.25
             971.12,1311.50 1078.00,1311.25 1085.00,1310.25
             1139.25,1301.88 1184.25,1260.88 1198.62,1206.75
             1202.63,1192.00 1203.75,1174.12 1203.75,1126.75
             1203.75,1126.75 1203.75,1085.25 1203.75,1085.25
             1203.75,1085.25 1212.88,1085.25 1212.88,1085.25
             1231.00,1085.25 1254.75,1076.38 1268.88,1064.25
             1283.75,1051.62 1295.00,1034.25 1300.25,1015.88
             1300.25,1015.88 1303.12,1005.88 1303.12,1005.88
             1303.12,1005.88 1303.12,858.38 1303.12,858.38
             1303.12,858.38 1303.12,710.88 1303.12,710.88
             1303.12,710.88 1300.25,700.88 1300.25,700.88
             1289.00,661.62 1255.25,634.00 1216.00,631.88
             1216.00,631.88 1203.75,631.12 1203.75,631.12
             1203.75,631.12 1203.75,620.25 1203.75,620.25
             1203.75,620.25 1203.75,609.38 1203.75,609.38
             1203.75,609.38 1214.13,608.50 1214.13,608.50
             1257.50,604.87 1290.25,577.25 1301.50,534.62
             1302.75,529.62 1303.12,499.25 1303.12,380.88
             1303.12,241.75 1303.00,232.87 1300.88,225.37
             1289.13,184.12 1256.12,156.87 1214.75,154.37
             1214.75,154.37 1202.50,153.62 1202.50,153.62
             1202.50,153.62 1201.75,149.12 1201.75,149.12
             1194.00,102.00 1167.25,64.50 1126.75,43.75
             1114.88,37.62 1100.25,32.50 1088.12,30.00
             1082.38,28.87 987.63,28.50 680.62,28.25
             460.62,28.12 276.13,28.50 270.62,29.00 Z
           M 1081.50,109.00
           C 1097.00,113.75 1111.25,125.75 1118.12,139.62
             1125.50,154.75 1125.00,113.75 1125.00,670.25
             1125.00,1123.75 1124.75,1180.50 1123.12,1187.12
             1117.12,1209.88 1099.00,1227.38 1076.38,1232.25
             1069.38,1233.62 1012.38,1234.00 708.50,1234.00
             708.50,1234.00 348.75,1234.00 348.75,1234.00
             348.75,1234.00 348.75,1172.88 348.75,1172.88
             348.75,1172.88 348.75,1111.88 348.75,1111.88
             348.75,1111.88 380.38,1111.12 380.38,1111.12
             407.12,1110.62 413.38,1110.12 421.88,1107.88
             472.00,1094.50 505.00,1047.62 498.88,998.12
             493.50,954.62 463.25,920.37 420.88,910.25
             412.12,908.12 406.13,907.75 379.75,907.75
             379.75,907.75 348.75,907.75 348.75,907.75
             348.75,907.75 348.75,896.62 348.75,896.62
             348.75,896.62 348.75,885.62 348.75,885.62
             348.75,885.62 381.00,884.88 381.00,884.88
             408.38,884.38 414.50,883.88 422.88,881.62
             459.75,871.50 485.88,845.50 496.50,808.12
             500.25,794.88 500.12,772.87 496.38,758.38
             487.62,725.50 463.12,698.12 432.50,687.50
             417.75,682.37 409.75,681.50 378.63,681.50
             378.63,681.50 348.75,681.50 348.75,681.50
             348.75,681.50 348.75,670.38 348.75,670.38
             348.75,670.38 348.75,659.25 348.75,659.25
             348.75,659.25 381.00,658.62 381.00,658.62
             408.88,658.12 414.50,657.75 423.12,655.38
             459.62,645.50 485.88,619.12 496.50,581.75
             500.25,568.62 500.12,546.50 496.38,532.12
             488.38,501.87 467.88,477.62 439.62,464.62
             422.62,456.87 417.62,456.12 381.63,455.62
             381.63,455.62 348.75,455.12 348.75,455.12
             348.75,455.12 348.75,444.00 348.75,444.00
             348.75,444.00 348.75,433.00 348.75,433.00
             348.75,433.00 381.63,432.37 381.63,432.37
             417.62,431.87 422.75,431.00 439.62,423.38
             450.88,418.25 458.63,413.00 468.00,404.12
             481.38,391.38 490.12,377.00 495.75,358.12
             498.62,348.62 499.12,344.87 499.12,330.88
             499.12,316.87 498.62,313.12 495.75,303.62
             487.00,274.25 468.50,252.25 441.88,239.37
             424.25,230.88 413.00,229.00 377.88,229.00
             377.88,229.00 348.75,229.00 348.75,229.00
             348.75,229.00 348.75,167.75 348.75,167.75
             348.75,167.75 348.75,106.50 348.75,106.50
             348.75,106.50 711.12,106.50 711.12,106.50
             1069.00,106.50 1073.62,106.50 1081.50,109.00 Z
           M 271.25,207.12
           C 271.25,207.12 271.25,306.50 271.25,306.50
             271.25,306.50 333.75,306.50 333.75,306.50
             374.38,306.50 398.38,307.00 402.50,307.87
             409.88,309.50 417.00,315.00 419.50,321.12
             421.75,326.38 421.75,335.50 419.50,340.75
             417.12,346.50 409.38,352.37 402.25,354.00
             398.50,354.75 372.38,355.25 333.75,355.25
             333.75,355.25 271.25,355.25 271.25,355.25
             271.25,355.25 271.25,444.00 271.25,444.00
             271.25,444.00 271.25,532.75 271.25,532.75
             271.25,532.75 333.75,532.75 333.75,532.75
             374.62,532.75 398.38,533.25 402.62,534.12
             410.38,535.75 417.88,542.12 420.12,548.62
             422.38,555.62 421.00,565.50 416.88,570.88
             409.75,580.38 411.25,580.25 337.25,580.25
             337.25,580.25 271.25,580.25 271.25,580.25
             271.25,580.25 271.25,669.62 271.25,669.62
             271.25,669.62 271.25,759.00 271.25,759.00
             271.25,759.00 335.38,759.00 335.38,759.00
             376.63,759.00 401.13,759.50 404.13,760.37
             410.38,762.12 418.25,769.25 420.12,774.88
             422.38,781.88 421.00,791.75 416.88,797.12
             409.75,806.62 411.25,806.50 337.25,806.50
             337.25,806.50 271.25,806.50 271.25,806.50
             271.25,806.50 271.25,895.88 271.25,895.88
             271.25,895.88 271.25,985.12 271.25,985.12
             271.25,985.12 337.88,985.50 337.88,985.50
             337.88,985.50 404.38,985.88 404.38,985.88
             404.38,985.88 410.38,989.38 410.38,989.38
             425.88,998.50 424.75,1022.12 408.50,1030.12
             403.00,1032.75 401.88,1032.75 337.12,1032.75
             337.12,1032.75 271.25,1032.75 271.25,1032.75
             271.25,1032.75 271.25,1132.12 271.25,1132.12
             271.25,1226.50 271.13,1231.50 269.00,1231.50
             267.75,1231.50 262.75,1229.50 257.62,1227.12
             247.12,1222.00 236.25,1211.88 231.00,1202.00
             223.88,1188.62 223.75,1187.62 223.75,1106.88
             223.75,1106.88 223.75,1032.75 223.75,1032.75
             223.75,1032.75 170.38,1032.75 170.38,1032.75
             121.12,1032.75 116.50,1032.50 111.88,1030.38
             98.12,1024.12 93.75,1007.62 102.62,995.37
             109.62,985.62 107.62,985.88 169.13,985.50
             169.13,985.50 223.75,985.12 223.75,985.12
             223.75,985.12 223.50,896.12 223.50,896.12
             223.50,896.12 223.12,807.12 223.12,807.12
             223.12,807.12 168.12,806.50 168.12,806.50
             128.38,806.00 112.38,805.50 110.50,804.38
             105.88,801.75 100.12,794.25 98.75,788.88
             96.88,782.00 98.12,775.12 102.62,769.12
             109.62,759.38 107.62,759.62 169.13,759.25
             169.13,759.25 223.75,758.88 223.75,758.88
             223.75,758.88 223.50,669.87 223.50,669.87
             223.50,669.87 223.12,580.88 223.12,580.88
             223.12,580.88 168.12,580.25 168.12,580.25
             128.38,579.75 112.38,579.25 110.50,578.12
             105.88,575.37 100.12,567.87 98.62,562.50
             95.88,552.37 100.25,542.37 109.88,536.75
             109.88,536.75 115.62,533.38 115.62,533.38
             115.62,533.38 169.75,533.00 169.75,533.00
             169.75,533.00 223.75,532.62 223.75,532.62
             223.75,532.62 223.75,444.00 223.75,444.00
             223.75,444.00 223.75,355.37 223.75,355.37
             223.75,355.37 169.62,355.00 169.62,355.00
             169.62,355.00 115.38,354.62 115.38,354.62
             115.38,354.62 109.38,350.88 109.38,350.88
             94.12,341.38 94.38,319.62 109.62,310.62
             109.62,310.62 115.62,307.12 115.62,307.12
             115.62,307.12 169.75,306.75 169.75,306.75
             169.75,306.75 223.75,306.38 223.75,306.38
             223.75,306.38 223.75,232.37 223.75,232.37
             223.75,152.50 223.75,152.50 230.62,139.00
             237.62,125.37 258.00,109.25 270.38,107.87
             270.88,107.75 271.25,152.50 271.25,207.12 Z
           M 1215.50,233.25
           C 1217.75,234.12 1220.75,236.50 1222.25,238.38
             1225.00,241.87 1225.00,242.00 1225.00,308.62
             1225.00,308.62 1225.00,375.37 1225.00,375.37
             1225.00,375.37 1229.38,379.12 1229.38,379.12
             1237.12,386.00 1237.50,395.62 1230.13,403.25
             1230.13,403.25 1226.38,407.12 1226.38,407.12
             1226.38,407.12 1226.00,462.75 1226.00,462.75
             1225.62,513.12 1225.38,518.75 1223.38,522.37
             1220.62,527.37 1215.38,530.25 1208.88,530.25
             1208.88,530.25 1203.88,530.25 1203.88,530.25
             1203.88,530.25 1203.25,461.75 1203.25,461.75
             1203.00,424.12 1202.75,392.50 1202.75,391.50
             1202.75,390.50 1203.00,354.00 1203.25,310.50
             1203.25,310.50 1203.88,231.50 1203.88,231.50
             1203.88,231.50 1207.63,231.50 1207.63,231.50
             1209.62,231.50 1213.12,232.25 1215.50,233.25 Z
           M 1216.75,710.88
           C 1219.00,712.00 1221.88,714.62 1223.12,716.88
             1225.38,720.50 1225.62,723.75 1226.00,756.25
             1226.38,789.88 1226.50,791.62 1228.88,792.87
             1232.88,795.00 1236.25,801.62 1236.25,807.50
             1236.25,814.00 1233.75,819.12 1229.13,822.50
             1229.13,822.50 1225.62,825.00 1225.62,825.00
             1225.62,825.00 1225.00,912.00 1225.00,912.00
             1225.00,912.00 1224.38,999.00 1224.38,999.00
             1224.38,999.00 1220.38,1002.87 1220.38,1002.87
             1217.38,1006.00 1215.13,1007.00 1210.13,1007.50
             1210.13,1007.50 1203.75,1008.12 1203.75,1008.12
             1203.75,1008.12 1203.25,911.38 1203.25,911.38
             1202.88,858.12 1202.63,811.50 1202.63,807.75
             1202.63,804.00 1202.88,780.25 1203.25,754.88
             1203.25,754.88 1203.75,709.00 1203.75,709.00
             1203.75,709.00 1208.25,709.00 1208.25,709.00
             1210.75,709.00 1214.50,709.88 1216.75,710.88 Z";
}
.IconReport{
    -fx-shape:"M 740.12,867.62
           C 730.75,869.12 723.62,872.25 720.12,876.37
             720.12,876.37 717.00,880.25 717.00,880.25
             717.00,880.25 717.00,997.75 717.00,997.75
             717.00,997.75 717.00,1115.38 717.00,1115.38
             717.00,1115.38 721.88,1120.00 721.88,1120.00
             730.38,1128.00 731.00,1128.12 806.38,1128.12
             856.75,1128.12 875.12,1127.75 879.00,1126.62
             885.62,1124.50 892.25,1120.12 894.12,1116.25
             895.38,1113.75 895.75,1087.50 895.75,997.50
             895.75,886.50 895.62,881.75 893.38,878.00
             890.62,873.38 882.75,869.50 872.62,867.62
             864.00,866.00 749.75,866.00 740.12,867.62 Z
           M 225.75,776.75
           C 214.88,779.88 207.38,785.62 204.62,792.88
             203.63,795.38 203.25,846.75 203.25,957.62
             203.25,1131.38 203.00,1123.50 209.62,1130.00
             211.25,1131.50 215.75,1134.25 219.50,1136.12
             219.50,1136.12 226.38,1139.38 226.38,1139.38
             226.38,1139.38 292.00,1139.38 292.00,1139.38
             353.63,1139.38 358.00,1139.25 363.88,1137.00
             372.12,1133.88 377.62,1129.62 380.00,1124.38
             381.88,1120.62 382.00,1104.38 381.75,955.75
             381.75,955.75 381.38,791.37 381.38,791.37
             381.38,791.37 376.50,786.37 376.50,786.37
             373.88,783.62 368.75,780.12 365.25,778.50
             358.88,775.62 358.88,775.62 295.12,775.38
             246.75,775.25 230.00,775.50 225.75,776.75 Z
           M 484.75,606.12
           C 476.62,609.00 470.12,614.88 466.25,623.12
             466.25,623.12 463.25,629.38 463.25,629.38
             463.25,629.38 463.25,868.50 463.25,868.50
             463.25,1070.88 463.50,1108.25 465.00,1111.75
             467.38,1117.62 475.25,1125.88 481.25,1129.12
             486.38,1131.88 487.00,1131.88 552.00,1131.88
             616.88,1131.88 617.62,1131.88 622.62,1129.12
             629.38,1125.62 637.50,1116.62 639.62,1110.50
             641.12,1106.38 641.38,1067.00 641.38,867.50
             641.38,867.50 641.38,629.38 641.38,629.38
             641.38,629.38 638.75,623.75 638.75,623.75
             635.50,616.62 629.25,610.50 622.00,607.00
             616.50,604.50 614.62,604.38 553.88,604.12
             495.75,603.75 490.88,604.00 484.75,606.12 Z
           M 181.50,452.00
           C 172.88,454.75 162.00,465.75 158.75,475.00
             151.25,497.00 163.12,519.75 185.00,525.62
             191.88,527.38 211.38,527.62 383.88,527.25
             383.88,527.25 575.12,526.88 575.12,526.88
             575.12,526.88 581.75,523.87 581.75,523.87
             590.38,520.00 599.88,509.62 602.62,501.12
             604.25,496.50 604.62,492.12 604.25,485.75
             603.25,471.25 596.25,460.50 582.88,453.50
             582.88,453.50 577.62,450.62 577.62,450.62
             577.62,450.62 382.62,450.37 382.62,450.37
             211.62,450.12 186.88,450.37 181.50,452.00 Z
           M 197.38,285.00
           C 179.38,288.62 166.62,304.38 166.38,323.12
             166.38,330.62 167.00,333.12 170.50,340.25
             175.12,349.62 179.50,354.00 189.50,358.62
             189.50,358.62 196.38,361.88 196.38,361.88
             196.38,361.88 516.38,361.88 516.38,361.88
             821.50,361.88 836.62,361.75 842.88,359.62
             851.88,356.50 860.38,348.62 864.63,339.38
             874.00,319.88 865.00,296.50 844.63,287.00
             844.63,287.00 838.88,284.38 838.88,284.38
             838.88,284.38 520.75,284.25 520.75,284.25
             345.75,284.12 200.25,284.50 197.38,285.00 Z
           M 957.25,282.62
           C 951.12,285.75 944.38,293.00 940.62,300.87
             934.12,314.25 934.50,290.50 934.50,708.12
             934.50,1128.50 934.12,1103.25 940.75,1116.38
             944.38,1123.25 951.50,1131.00 957.13,1133.88
             961.62,1136.12 965.12,1136.25 1023.25,1136.25
             1081.38,1136.25 1084.88,1136.12 1089.38,1133.88
             1099.12,1128.75 1107.50,1116.12 1110.62,1101.25
             1111.75,1096.00 1112.00,1000.50 1111.75,704.38
             1111.75,704.38 1111.38,314.38 1111.38,314.38
             1111.38,314.38 1108.50,306.88 1108.50,306.88
             1104.88,297.12 1098.38,288.37 1091.62,284.12
             1091.62,284.12 1086.38,280.62 1086.38,280.62
             1086.38,280.62 1024.50,280.25 1024.50,280.25
             963.50,280.00 962.50,280.00 957.25,282.62 Z
           M 54.12,49.25
           C 43.75,53.00 35.88,60.75 31.38,71.50
             29.75,75.75 29.50,137.62 29.50,675.25
             29.50,675.25 29.50,1274.38 29.50,1274.38
             29.50,1274.38 32.50,1280.75 32.50,1280.75
             36.12,1288.62 43.25,1295.75 51.38,1299.50
             51.38,1299.50 57.62,1302.50 57.62,1302.50
             57.62,1302.50 657.00,1302.50 657.00,1302.50
             1245.50,1302.50 1256.50,1302.38 1261.62,1300.00
             1269.25,1296.62 1278.75,1287.12 1281.88,1280.00
             1281.88,1280.00 1284.50,1273.88 1284.50,1273.88
             1284.50,1273.88 1284.25,673.50 1284.25,673.50
             1284.25,673.50 1283.88,73.12 1283.88,73.12
             1283.88,73.12 1280.50,67.37 1280.50,67.37
             1276.38,60.25 1270.38,54.38 1263.88,50.88
             1263.88,50.88 1258.88,48.12 1258.88,48.12
             1258.88,48.12 658.88,47.87 658.88,47.87
             156.00,47.62 58.12,47.87 54.12,49.25 Z
           M 1207.00,675.00
           C 1207.00,675.00 1207.00,1225.00 1207.00,1225.00
             1207.00,1225.00 657.00,1225.00 657.00,1225.00
             657.00,1225.00 107.00,1225.00 107.00,1225.00
             107.00,1225.00 107.00,675.00 107.00,675.00
             107.00,675.00 107.00,125.00 107.00,125.00
             107.00,125.00 657.00,125.00 657.00,125.00
             657.00,125.00 1207.00,125.00 1207.00,125.00
             1207.00,125.00 1207.00,675.00 1207.00,675.00 Z";
}
.IconConfig{
	-fx-shape:"M 659.62,392.62
           C 626.75,396.88 597.00,405.87 568.12,420.25
             511.50,448.37 468.50,491.38 441.25,547.00
             422.00,586.12 413.62,619.50 412.13,662.62
             409.75,730.87 430.62,794.25 473.12,847.62
             518.62,904.88 585.00,942.12 657.75,951.25
             710.50,958.00 765.75,948.88 814.00,925.75
             872.75,897.50 918.38,851.88 946.75,793.00
             965.50,754.00 974.25,715.38 974.25,671.75
             974.12,539.88 881.38,425.00 752.38,397.00
             724.25,391.00 686.75,389.25 659.62,392.62 Z
           M 726.88,429.00
           C 763.38,434.00 796.62,446.38 826.12,465.87
             844.12,477.62 854.75,486.50 869.25,501.50
             902.50,536.00 922.75,574.50 933.75,624.50
             937.12,639.25 937.25,641.75 937.25,672.00
             937.25,702.00 937.12,704.88 933.88,719.88
             923.13,770.38 899.50,813.37 863.50,848.37
             825.63,885.00 777.38,908.37 725.12,915.25
             702.38,918.25 665.25,917.12 644.25,912.62
             605.88,904.62 569.38,887.62 540.50,864.38
             490.38,824.00 458.62,768.37 449.88,705.00
             447.00,684.88 447.88,647.50 451.50,626.88
             459.75,581.00 482.38,537.12 515.50,502.75
             554.75,462.12 601.75,437.62 657.62,429.00
             673.12,426.50 709.62,426.50 726.88,429.00 Z
           M 618.25,32.00
           C 596.00,37.88 576.75,53.50 566.75,73.50
             561.75,83.75 560.88,87.12 548.25,150.25
             541.00,186.62 535.00,216.50 534.75,216.75
             534.62,217.00 529.50,219.00 523.50,221.25
             517.38,223.50 505.75,228.37 497.75,232.00
             497.75,232.00 483.12,238.50 483.12,238.50
             483.12,238.50 429.00,202.50 429.00,202.50
             399.25,182.75 371.50,165.00 367.25,163.00
             345.50,152.75 319.75,153.62 296.63,165.12
             288.38,169.25 283.75,173.37 253.75,203.12
             191.12,265.25 189.63,267.00 183.38,280.62
             173.88,301.88 174.75,331.25 185.62,350.50
             187.75,354.25 205.25,381.00 224.50,409.87
             224.50,409.87 259.50,462.25 259.50,462.25
             259.50,462.25 253.88,474.38 253.88,474.38
             250.88,481.00 246.00,492.62 243.12,500.25
             243.12,500.25 237.75,514.00 237.75,514.00
             237.75,514.00 182.00,525.00 182.00,525.00
             111.50,538.88 103.88,540.75 92.75,546.62
             75.75,555.37 61.75,572.25 53.88,592.87
             51.25,600.00 51.12,601.88 50.75,667.12
             50.38,743.12 50.50,745.12 59.38,763.25
             68.75,782.12 88.00,798.12 108.00,803.75
             111.75,804.75 142.13,811.00 175.50,817.75
             208.88,824.38 236.75,830.50 237.50,831.25
             238.25,832.00 240.50,836.88 242.38,842.00
             244.25,847.12 249.00,858.25 252.75,866.75
             252.75,866.75 259.63,882.25 259.63,882.25
             259.63,882.25 224.63,934.25 224.63,934.25
             187.50,989.38 181.62,999.50 178.50,1013.00
             175.75,1024.62 176.62,1044.75 180.38,1055.75
             186.38,1073.12 190.75,1078.75 234.12,1122.38
             256.50,1145.00 278.62,1166.50 283.12,1170.25
             306.63,1189.50 339.25,1193.88 367.25,1181.50
             370.75,1179.88 398.38,1162.25 428.38,1142.12
             428.38,1142.12 483.12,1105.62 483.12,1105.62
             483.12,1105.62 496.75,1111.88 496.75,1111.88
             504.13,1115.25 515.75,1120.12 522.62,1122.62
             522.62,1122.62 534.88,1127.25 534.88,1127.25
             534.88,1127.25 548.25,1193.50 548.25,1193.50
             560.75,1256.50 561.75,1260.25 566.75,1270.38
             576.62,1290.38 595.62,1305.75 618.00,1311.88
             626.88,1314.38 630.38,1314.50 692.38,1314.50
             764.25,1314.50 765.62,1314.38 782.12,1306.50
             799.12,1298.50 812.12,1285.62 820.12,1268.62
             823.88,1260.88 826.25,1250.62 837.50,1194.88
             844.75,1159.25 851.00,1129.38 851.50,1128.50
             852.00,1127.62 858.00,1124.75 864.88,1122.12
             871.75,1119.50 883.13,1114.75 890.12,1111.50
             890.12,1111.50 903.00,1105.75 903.00,1105.75
             903.00,1105.75 957.62,1142.25 957.62,1142.25
             987.75,1162.25 1015.25,1179.88 1018.88,1181.50
             1022.38,1183.12 1028.88,1185.25 1033.25,1186.38
             1044.00,1189.25 1065.50,1188.38 1076.75,1184.75
             1093.50,1179.25 1098.62,1175.12 1142.13,1132.00
             1186.12,1088.50 1195.75,1077.75 1201.62,1065.38
             1211.50,1044.75 1211.88,1018.88 1202.62,998.00
             1200.88,994.12 1183.13,966.50 1163.00,936.50
             1163.00,936.50 1126.38,881.88 1126.38,881.88
             1126.38,881.88 1131.25,871.62 1131.25,871.62
             1133.88,866.00 1138.62,854.62 1141.88,846.38
             1145.12,838.12 1148.50,831.00 1149.38,830.50
             1150.38,830.00 1178.13,824.25 1211.12,817.62
             1244.12,811.00 1275.50,804.25 1280.88,802.50
             1304.25,794.75 1323.88,775.00 1332.13,750.75
             1334.75,742.88 1334.88,740.87 1335.25,676.25
             1335.63,601.00 1335.50,598.75 1326.62,581.00
             1319.50,566.38 1306.12,553.00 1291.38,545.75
             1281.25,540.75 1277.50,539.88 1214.75,527.25
             1178.38,520.00 1148.50,514.00 1148.25,513.75
             1148.00,513.62 1145.88,508.25 1143.50,501.88
             1141.12,495.37 1136.38,483.88 1132.88,476.25
             1132.88,476.25 1126.62,462.25 1126.62,462.25
             1126.62,462.25 1163.13,407.50 1163.13,407.50
             1183.25,377.25 1201.00,349.62 1202.62,345.87
             1210.12,329.12 1211.38,305.12 1205.63,288.25
             1199.38,270.00 1195.88,265.87 1146.25,216.75
             1120.25,191.12 1097.13,169.25 1093.62,167.12
             1072.25,154.12 1042.25,152.25 1019.50,162.62
             1015.63,164.37 987.75,182.25 957.75,202.25
             957.75,202.25 903.13,238.50 903.13,238.50
             903.13,238.50 888.38,232.00 888.38,232.00
             880.25,228.37 868.62,223.50 862.50,221.25
             856.50,219.00 851.38,217.00 851.25,216.75
             851.00,216.50 845.38,188.75 838.75,155.12
             832.12,121.38 825.12,89.50 823.38,84.12
             815.75,60.75 797.62,42.50 772.75,33.50
             772.75,33.50 763.62,30.12 763.62,30.12
             763.62,30.12 695.50,29.87 695.50,29.87
             631.62,29.62 626.75,29.75 618.25,32.00 Z
           M 760.62,176.25
           C 773.13,238.12 774.38,243.00 779.00,252.50
             784.75,264.12 795.50,276.62 805.88,283.75
             809.62,286.25 822.75,292.50 835.00,297.50
             847.25,302.62 862.25,308.75 868.25,311.25
             893.50,321.88 913.50,322.00 935.88,311.62
             940.88,309.25 967.62,292.25 995.50,273.62
             1023.38,255.12 1047.50,239.25 1049.12,238.37
             1052.00,236.75 1053.50,238.12 1090.00,274.62
             1110.88,295.50 1128.00,313.00 1128.00,313.50
             1128.00,314.00 1111.25,339.62 1090.75,370.37
             1047.13,435.87 1046.38,437.50 1046.25,461.38
             1046.25,477.62 1047.75,483.37 1057.62,505.75
             1061.50,514.38 1067.00,527.75 1069.88,535.37
             1077.00,554.12 1080.38,559.62 1091.75,570.87
             1099.00,578.12 1103.88,581.75 1112.00,585.62
             1122.00,590.62 1126.00,591.62 1188.75,604.25
             1188.75,604.25 1254.88,617.62 1254.88,617.62
             1254.88,617.62 1254.88,672.00 1254.88,672.00
             1254.88,672.00 1254.88,726.38 1254.88,726.38
             1254.88,726.38 1188.75,739.75 1188.75,739.75
             1127.00,752.12 1121.88,753.37 1112.38,758.12
             1100.12,764.12 1087.88,775.00 1080.63,786.12
             1077.75,790.62 1072.38,802.00 1068.75,811.50
             1065.00,821.12 1059.50,834.62 1056.38,841.50
             1047.62,860.87 1046.25,866.75 1046.25,882.62
             1046.50,906.75 1047.00,908.00 1090.63,973.37
             1111.12,1004.25 1128.00,1030.00 1128.00,1030.62
             1128.00,1031.88 1053.62,1106.12 1051.75,1106.75
             1051.12,1107.00 1027.12,1091.38 998.25,1072.12
             969.38,1052.88 942.50,1035.50 938.38,1033.38
             925.88,1027.12 917.00,1025.38 899.25,1026.00
             884.50,1026.50 883.00,1026.75 872.38,1031.25
             866.25,1033.88 850.25,1040.38 837.00,1045.88
             823.75,1051.25 809.88,1057.75 806.12,1060.25
             795.88,1067.00 784.88,1079.75 779.00,1091.50
             774.38,1101.00 773.13,1105.88 760.62,1167.75
             760.62,1167.75 747.38,1233.88 747.38,1233.88
             747.38,1233.88 693.00,1233.88 693.00,1233.88
             693.00,1233.88 638.62,1233.88 638.62,1233.88
             638.62,1233.88 626.62,1173.88 626.62,1173.88
             620.00,1140.88 613.88,1111.00 613.00,1107.62
             608.75,1090.00 594.88,1070.12 579.88,1060.25
             576.12,1057.75 562.25,1051.25 549.00,1045.88
             535.75,1040.38 519.88,1033.88 513.62,1031.25
             503.00,1026.75 501.50,1026.50 486.75,1026.00
             469.13,1025.38 460.12,1027.12 447.75,1033.38
             443.88,1035.38 416.88,1052.75 388.00,1072.00
             359.13,1091.25 335.12,1107.00 334.50,1107.00
             333.38,1107.00 258.00,1031.62 258.00,1030.38
             258.00,1029.88 273.88,1005.75 293.25,976.75
             312.50,947.62 330.38,919.88 332.75,914.88
             335.50,909.12 337.75,901.50 339.00,894.12
             341.75,877.62 339.63,864.25 330.62,843.75
             327.00,835.50 321.00,821.00 317.13,811.38
             313.38,801.88 308.00,790.50 305.25,786.12
             298.25,775.12 285.75,764.00 273.62,758.25
             262.38,752.88 259.50,752.12 184.88,737.12
             184.88,737.12 131.12,726.38 131.12,726.38
             131.12,726.38 131.12,672.00 131.12,672.00
             131.12,672.00 131.12,617.62 131.12,617.62
             131.12,617.62 197.25,604.25 197.25,604.25
             260.00,591.62 264.00,590.62 274.13,585.62
             282.38,581.62 287.13,578.12 294.38,570.87
             305.88,559.25 308.75,554.50 317.25,532.38
             321.00,522.87 326.25,510.12 329.13,504.00
             339.13,482.50 341.75,468.37 339.25,451.25
             336.50,433.25 333.38,427.50 294.50,369.25
             274.38,339.12 258.00,314.12 258.00,313.62
             258.00,312.37 333.25,237.00 334.50,237.00
             335.00,237.00 360.38,253.50 390.75,273.75
             448.00,311.75 454.38,315.25 471.00,318.25
             487.38,321.25 500.88,318.75 525.50,308.00
             533.38,304.62 546.88,299.00 555.50,295.62
             581.88,285.25 597.12,272.37 607.00,252.50
             611.62,243.00 612.88,238.12 625.00,177.50
             632.12,141.75 638.25,111.87 638.62,111.00
             639.00,109.75 650.62,109.50 693.25,109.75
             693.25,109.75 747.38,110.12 747.38,110.12
             747.38,110.12 760.62,176.25 760.62,176.25 Z";
}
.IconInterr{
	-fx-shape:"M 580.62,989.25
           C 553.75,992.00 529.12,1003.75 511.38,1022.62
             490.12,1045.12 481.25,1068.12 481.38,1100.50
             481.38,1146.25 500.50,1178.12 539.62,1197.62
             556.50,1206.12 572.75,1209.62 594.00,1209.62
             625.12,1209.50 652.00,1198.50 673.25,1177.38
             693.88,1156.75 703.12,1132.75 703.00,1099.88
             703.00,1067.00 693.50,1043.12 671.75,1020.62
             648.62,996.87 616.25,985.75 580.62,989.25 Z
           M 574.50,88.00
           C 537.38,90.62 495.75,98.87 463.75,110.00
             425.00,123.50 384.25,146.12 350.00,173.12
             332.63,186.87 304.25,215.62 292.00,232.12
             254.00,282.88 231.38,343.75 231.50,395.12
             231.62,415.62 238.62,434.62 252.63,452.00
             271.12,475.00 294.50,487.25 323.00,488.87
             360.00,491.00 387.50,477.25 407.25,446.75
             414.75,435.00 418.62,426.25 427.00,402.12
             449.25,337.50 478.50,289.75 508.75,269.00
             549.25,241.12 627.75,234.88 679.75,255.50
             718.00,270.75 749.88,303.12 762.38,339.88
             766.75,352.75 769.00,367.75 769.00,383.87
             769.00,406.75 764.38,424.25 753.12,443.62
             738.38,469.12 720.88,487.88 663.38,539.12
             601.50,594.25 570.88,624.00 552.38,646.75
             537.88,664.50 521.88,692.25 512.12,716.25
             495.50,757.00 489.38,820.75 498.38,856.25
             501.62,868.62 509.25,883.00 517.25,891.62
             534.62,910.50 558.50,920.50 586.38,920.50
             625.25,920.50 652.38,903.12 666.00,869.50
             667.62,865.38 672.38,847.50 676.63,829.75
             684.88,794.50 689.25,779.75 695.38,767.75
             700.75,757.12 710.12,743.38 718.88,733.25
             728.38,722.38 755.62,695.62 774.13,679.12
             857.62,604.12 895.38,568.25 910.62,549.25
             932.25,522.38 953.75,485.00 961.38,461.12
             970.38,433.25 973.25,409.88 972.38,375.00
             971.50,340.87 966.88,316.62 955.75,288.00
             928.75,218.75 877.12,164.25 804.62,128.62
             762.25,107.75 719.62,95.75 667.75,89.88
             647.38,87.62 595.38,86.50 574.50,88.00 Z";		
}
.IconCheck{
	-fx-shape:"M24.765,71.212c-2.617,0-5.073-1.016-6.917-2.859L2.926,54.627C1.018,52.722,0,50.263,0,47.648
			c0-2.614,1.018-5.071,2.866-6.92c1.849-1.849,4.307-2.865,6.921-2.865c2.591,0,5.029,1,6.872,2.818l8.102,7.108L56.611,5.369
			c0.058-0.075,0.119-0.146,0.187-0.213c1.849-1.85,4.308-2.867,6.921-2.867c2.614,0,5.072,1.018,6.922,2.867
			c3.783,3.784,3.814,9.923,0.092,13.747L32.448,68.167c-0.051,0.065-0.106,0.128-0.165,0.188c-1.914,1.912-4.498,2.926-7.214,2.854
			C24.967,71.21,24.867,71.212,24.765,71.212z M9.788,41.863c-1.546,0-2.999,0.602-4.093,1.695c-1.093,1.092-1.694,2.545-1.694,4.09
			s0.602,3,1.694,4.094l14.922,13.726c1.148,1.146,2.6,1.914,4.148,1.914l0.227,0.164c0.05,0,0.1,0,0.151,0l0.221-0.164
			c1.51,0,2.929-0.653,4.008-1.69l38.274-49.293c0.051-0.065,0.105-0.148,0.166-0.207c2.256-2.258,2.256-5.939,0-8.195
			c-1.095-1.094-2.547-1.701-4.094-1.701c-1.502,0-2.917,0.566-3.998,1.602L26.665,51.919c-0.335,0.445-0.84,0.73-1.394,0.787
			c-0.551,0.057-1.106-0.118-1.525-0.486l-9.771-8.572c-0.032-0.028-0.064-0.059-0.095-0.09
			C12.787,42.464,11.334,41.863,9.788,41.863z";
}

